
body{
    background:#F2CEAD;
    overflow-x: hidden;
}

.nav-wrapper{
    background: black;
}

.headtitle{
    position: relative;
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

a.browsebtn{
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: "Arial";
    background-color: orangered;
    width: fit-content;
    color: white;
    font-weight: bold;
    padding: 6px;
}

.title{
    font-size: 6rem;
    font-family: "Oleo Script";
    font-style: italic;
    color: white;
    background-color: black;
}

.texthead{
    position: flex;
    text-align: center;
    z-index: 1;
}

div.videobg-cont{
    filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}

video.videobg-cont{
    margin-top: -15vh;
    min-width: 100vw;
}

.link-nav{
    color: white;
    font-weight: bolder;
}

.link-nav:hover{
    color: yellow;
    margin-top: -2px;
}
.logo-br{
    filter: invert();
}

.list-nav:hover{
    background: grey;
}

.imgtitle{
    position: relative;
    width: 100vw;
    height: 29vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: -12vh;
    animation: floating1 3s infinite;
}

img.imglink{
    box-shadow: 17px 15px 17px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    width: 150px;
    height: 20vh;
}

a.imglink{
    padding: 5vw;
    padding-top: 0;
    padding-bottom: 0;
}

a.imglink:hover{
    padding-bottom: 3vh;
}

div.textfloat{
    position: relative;
    text-align: center;
    color: black;
    font-weight: bold;
    font-style: italic;
    opacity: 1;
}

.promoct{
    position: relative;
    width: 100vw;
    height: 29vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.titlepromo{
    color: red;
    font-weight: bold;
    font-style: italic;
}

.promoct {
    margin-top: -5vh;
}

.promolink{
    webkit-
}

a.promolink{
    padding-top: 20vh;
}

.txtpromo{
    color: white;
    padding-left: 1vw;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: -34vh;
    -webkit-text-stroke: 1px black;
}

a.promolink:hover .txtpromo{
    color: red;
    -webkit-text-stroke: 1px white;
}

a.promolink:hover .imgpromo{
    filter:grayscale(80%);
    border-radius: 0% 0% 15%;
}

.imgpromo{
    position: relative;
    display: flex;
    z-index: -1;
    width: 672px;
    height: 327.95px;
}

@keyframes floating1{
    0% {top: 0px;}
    50% {top: 15px;}
    100%{top: 0px;}
}

.reviewtitle{
    position: relative;
    width: 100vw;
    height: 29vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviewlogo{
    width: 10vw;
    box-shadow: 17px 15px 17px rgba(0, 0, 0, 0.2);
    border-radius: 20%;
}

.containlogo{
    animation: floating1 3s infinite;
    padding-bottom: 40px;
    
}

.row{
    padding-top: 8vh;
    width: 450px;
    margin: 0;
    display: flexbox;
    align-items: center;
}


div.card-image, .card, .card-content, .card-action{
    width: 430px;

}

img.card-image{
    width: fit-content;
    height: 250px;
}

span.card-title{
    font-family: Arial;
    font-style: italic;
}

.row:hover .card-content{
    height: 150px;
}

.textcollab{
    width: fit-content;
    font-size: 1.3rem;
}

.imgfooter{
    width: 6vw;
    height: 6vh;
}