.cardform{
    padding-top: 7vh;
    position: relative;
    height: fit-content;
    width: 100vw;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.cardform2{
    width: 40vw;
    background: #c4c4c4;
    border-radius: 25px;
    overflow: hidden;
}

div.input-field{
    padding-left: 8vw;
}

.submitct{
    width: 100%;
    display: flex;
    justify-content: center;
}

#particles-js{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: #F2CEAD;
  }