.nav-wrapper{
  background: black;
}

.logo-br{
  filter: invert();
}

.link-nav{
  color: white;
  font-weight: bolder;
}

.link-nav:hover{
  color: yellow;
  margin-top: -2px;
}

body{
  background:#F2CEAD;
  overflow-x: hidden;
}

.list-nav:hover{
  background: grey;
}

.page-footer, .container{
  background-color: black;
}

.page-footer{
  position:absolute;
  bottom:0;
}

.disclaimer{
  margin-top: 4vh;
  font-size: 0.8rem;
  font-weight: bold;
  font-style: italic;
  color: yellow;
}


